.form-login {
    display: flex;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.7);
    color: wheat;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px 30px;
    border-radius: 15px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
    width: 300px;
    transition: all 0.3s ease;
}


.email:focus, .senha:focus, button:focus {
    outline: none;
    border-color: #3498db;
    box-shadow: 0 0 10px rgba(52, 152, 219, 0.7);
}


.email, .senha {
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 8px;
    padding: 12px;
    margin-bottom: 15px;
    font-size: 1rem;
    transition: 0.3s ease;
}

input::placeholder {
    color: #ccc;
}

/* Botão de login */
.login {
    background-color: #3498db;
    color: white;
    border: none;
    padding: 12px 20px;
    font-size: 1.2rem;
    font-weight: bold;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.3s ease;
    width: 100%;
}

.registrar{
    background-color: #fc0000;
    color: white;
    border: none;
    padding: 12px 20px;
    font-size: 1.2rem;
    font-weight: bold;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.3s ease;
    width: 100%;
    margin-top: 10px;
}

.registrar:hover{
    background-color: #c70303;
}

.login:hover {
    background-color: #036fb8;
}

/* Mensagem de erro */
p {
    font-size: 0.9rem;
    color: #e74c3c;
    margin-top: 10px;
    text-align: center;
}


/* Adicionando uma leve animação de "entrar" ao carregar */
form {
    animation: fadeIn 1s ease-in-out;
}

/* Animação de fadeIn */
@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}